# 仅用于 PyCharm 的根项目 Jupyter 服务

[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]
notebook = "*"
jupyter = "*"

[packages]
ipympl = "*"
matplotlib = "*"
numpy = "*"

[requires]
python_version = "3"
