[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[dev-packages]

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sympy = "*"
#torch = "1.3.0+cpu"
#torchvision = "0.4.1+cpu"

[requires]
python_version = "3.7"
