[[source]]
name = 'pypi'
url = 'https://pypi.doubanio.com/simple'
verify_ssl = true

[requires]
python_version = '3'

[packages]
docopt = '*'
loguru = '*'
profig = '*'

[dev-packages]
pyinstaller = '*'
pyinstaller-versionfile = '*'
