[[source]]
name = "pypi"
url = "https://pypi.doubanio.com/simple"
verify_ssl = true

[requires]
python_version = "3"

[packages]
matplotlib = "*"

[dev-packages]
ipympl = "*"  # for matplotlib
jupyter = "*"
notebook = "*"
